
<div class="grid grid-cols-1">
    <app-dynamic-form id="char-map-form"
        [inputs]="inputs"
        [showButtons]="showButtons()"
        class="w-full p-4 max-h-[50vh] overflow-auto shadow-[inset_0px_0px_8px_4px_black]">
    </app-dynamic-form>

    <div class="w-full  mt-2.5 absolute bottom-0 left-0 grid grid-cols-2 gap-4">
        <!-- <div class="w-[50%] h-full flex justify-around items-center"> -->
            <button class="col-span-2"
                pButton
                (click)="addEntry()">
                Add Entry
            </button>
            <button class="col-span-1"
                pButton
                (click)="cancel()"
                severity="danger">
                Cancel
            </button>
            <button class="col-span-1"
                pButton
                (click)="submit()"
            >Submit</button>
        <!-- </div>
        <div class="w-[50%] h-full flex items-center"> -->
        <!-- </div> -->
    </div>
</div>
