@if (!this.useMobile) {
  <div class="gdo-menubar justify-content-evenly">
    @if (!showMenu) {
      <div class="gdo-menubar-cover"></div>
    }
    @for (item of model$ | async; track item) {
      <div class="gdo-menubar-item">
        <button
          type="button"
          class="gdo-button-scroll"
          [attr.aria-expanded]="item.isExpanded"
          aria-controls="collapseBasic"
          >
          {{item.label}}
        </button>
        <div id="collapseBasic" [collapse]="!item.isExpanded" [isAnimated]="true">
          <div class="gdo-menubar-submenu">
            @for (subItem of item.items; track subItem) {
              <span class="gdo-menubar-submenu-item">{{subItem.label}}</span>
            }
            <gdo-svg></gdo-svg>
          </div>
        </div>
      </div>
    }
  </div>
} @else {
  <div class="gdo-menubar ">
    @for (item of model$ | async; track item) {
      <div #topMenuItem class="gdo-menubar-item w-full">
        <button
          type="button"
          class="gdo-button-scroll"
          [attr.aria-expanded]="item.isExpanded"
          aria-controls="collapseBasic"
          (click)="handleItemClick(item)"
          >
          {{item.label}}
        </button>
        <div id="collapseBasic" [collapse]="!item.isExpanded" [isAnimated]="true">
          <div class="gdo-menubar-submenu">
            @for (menuItem of item.items; track menuItem) {
              <span #subMenuItem
                class="gdo-menubar-submenu-item"
                aria-controls="collapseBasicSub"
                (click)="handleItemClick(menuItem)"
                >
                {{menuItem.label}}
              </span>
              <div id="collapseBasicSub" [collapse]="!menuItem.isExpanded" [isAnimated]="true">
                <div class="gdo-menubar-submenu">
                  @for (subItem of menuItem.items; track subItem) {
                    <span class="gdo-menubar-submenu-item mobile-item">{{subItem.label}}</span>
                  }
                </div>
              </div>
            }
            <!-- <gdo-svg></gdo-svg> -->
            <div class="spacer"></div>
            <div class="triangle"></div>
          </div>
        </div>
      </div>
    }
  </div>
}
